n8n-workflow-fixed.json
{
  "name": "SAXTech Foreman AI - FIXED Client Creation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-foreman/clients/create",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d8fa177a-a5f7-4eea-a6f7-9aca9222ceab",
      "name": "Create Client Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [32, 1232],
      "webhookId": "ask-foreman-create-client"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\n// Validate input\nif (!body.clientName) {\n  throw new Error('Client name is required');\n}\n\n// Use the actual client name as provided (preserve original casing for display)\nconst clientFolder = body.clientName;\n\n// Define folder structure\nconst categories = ['drawings', 'estimates', 'proposals', 'specs', 'signed-contracts'];\n\nconst clientData = {\n  id: clientFolder.toLowerCase(),\n  folderName: clientFolder,\n  name: body.clientName,\n  projectName: body.projectName || '',\n  projectType: body.projectType || 'general',\n  projectDescription: body.projectDescription || '',\n  categories: categories,\n  createdAt: new Date().toISOString(),\n  metadata: {\n    version: '1.0',\n    indexPrefix: `${clientFolder.toLowerCase()}_`,\n    documentCount: 0,\n    lastUpdated: new Date().toISOString()\n  }\n};\n\nreturn [{\n  json: clientData\n}];"
      },
      "id": "25bee111-4dbb-468c-9de4-6a3b4fce2057",
      "name": "Prepare Client Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [256, 1232]
    },
    {
      "parameters": {
        "jsCode": "// Create placeholder files for each category folder under FCS-OriginalClients\nconst client = $json;\nconst folderCreations = [];\n\n// Create a placeholder for each category under FCS-OriginalClients\nclient.categories.forEach(category => {\n  folderCreations.push({\n    json: {\n      client: client.folderName,\n      category: category,\n      path: `FCS-OriginalClients/${client.folderName}/${category}/.placeholder`,\n      content: '',\n      contentType: 'text/plain'\n    }\n  });\n});\n\n// Add metadata file under FCS-OriginalClients\nfolderCreations.push({\n  json: {\n    client: client.folderName,\n    category: '.metadata',\n    path: `FCS-OriginalClients/${client.folderName}/.metadata/client.json`,\n    content: JSON.stringify(client, null, 2),\n    contentType: 'application/json'\n  }\n});\n\nreturn folderCreations;"
      },
      "id": "081ac27e-1242-479d-9b4f-9965adfc7cec",
      "name": "Create Folder Structure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 1232]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://saxtechfcs.blob.core.windows.net/fcs-clients/{{ $json.path }}?sp=racwdl&st=2025-08-07T21:44:55Z&se=2030-08-08T05:59:55Z&spr=https&sv=2024-11-04&sr=c&sig=AeQA3cyePZQqGGmb6QPu5G4y1b0qB8Z5FIFZBdi6Cdo%3D",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-ms-blob-type",
              "value": "BlockBlob"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.contentType }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb22fa88-64a6-43c3-ab3e-ace1eecdc04f",
      "name": "Create Blob Folders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [704, 1232]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"operation\": \"CREATE_CLIENT\",\n  \"client\": {\n    \"id\": \"{{ $node['Prepare Client Data'].json.id }}\",\n    \"name\": \"{{ $node['Prepare Client Data'].json.name }}\",\n    \"folderName\": \"{{ $node['Prepare Client Data'].json.folderName }}\",\n    \"projectName\": \"{{ $node['Prepare Client Data'].json.projectName }}\",\n    \"categories\": {{ JSON.stringify($node['Prepare Client Data'].json.categories) }}\n  },\n  \"createdAt\": \"{{ $node['Prepare Client Data'].json.createdAt }}\",\n  \"message\": \"Client created successfully with folder structure under FCS-OriginalClients\"\n}",
        "options": {}
      },
      "id": "f167b7cb-d09e-4dc5-a8be-4a8da7b8ea81",
      "name": "Create Client Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [928, 1232]
    }
  ],
  "connections": {
    "Create Client Webhook": {
      "main": [
        [
          {
            "node": "Prepare Client Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Client Data": {
      "main": [
        [
          {
            "node": "Create Folder Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder Structure": {
      "main": [
        [
          {
            "node": "Create Blob Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Blob Folders": {
      "main": [
        [
          {
            "node": "Create Client Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
