n8n-delete-client-workflow-fixed.json
{
  "name": "Delete Client Webhook - FIXED",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ask-foreman/clients/delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "delete-client-webhook-node",
      "name": "Delete Client Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "delete-client-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\n// Validate input\nif (!body.clientId && !body.clientName) {\n  throw new Error('Either clientId or clientName is required');\n}\n\nconst clientId = body.clientId || body.clientName.toLowerCase();\nconst clientName = body.clientName || body.clientId;\n\n// Log the delete request\nconsole.log(`Delete request received for client: ${clientName} (ID: ${clientId})`);\n\n// Here you would implement actual deletion:\n// 1. Delete from Azure Blob Storage\n// 2. Remove from search indexes  \n// 3. Clean up databases\n\n// For now, simulate successful deletion\nconsole.log(`Simulating deletion of client: ${clientName}`);\n\n// Return simple success response\nconst result = {\n  status: 'success',\n  operation: 'DELETE_CLIENT',\n  clientId: clientId,\n  clientName: clientName,\n  message: `Client \"${clientName}\" has been successfully deleted`,\n  timestamp: new Date().toISOString()\n};\n\nconsole.log(`Delete operation completed for client: ${clientName}`);\n\nreturn [{\n  json: result\n}];"
      },
      "id": "execute-delete-node",
      "name": "Execute Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "delete-response-node",
      "name": "Delete Response", 
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Delete Client Webhook": {
      "main": [
        [
          {
            "node": "Execute Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Delete": {
      "main": [
        [
          {
            "node": "Delete Response",
            "type": "main", 
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
